<header>
  <div class="row">
    <div class="small-12 columns">
      <div class="text-right" id="tagline" itemprop="description">
        A blog on Ruby on Rails curiosities
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div id="logo">
        <div class="title">
          <h3>
            <a href="{{ site.url }}" itemprop="url" title="Crafting Ruby Home">
              <span itemprop="name">{{ site.title }}</span>
            </a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</header>
