<div id="sidebar">
  <nav>
    <div class="row">
      <div class="small-12 medium-6 large-12 columns">
        <div class="title">
          <h5>Latest Posts</h5>
        </div>
        <ul>
          {% for post in site.posts limit: 20 %}
            <li>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="small-12 medium-6 large-12 columns">
        <div class="title">
          <h5>Subscribe</h5>
        </div>
        <ul>
          <li>
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
