<div class="row">
  <div class="small-12 columns">
    <br/>
    <p>If you like this post, follow me:</p>
  </div>
</div>
<div class="row">
  <div class="small-6 large-3 columns">
    <a href="https://twitter.com/fivedigit" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @fivedigit</a>
  </div>
  <div class="small-6 large-3 columns">
    <a href='https://cloud.feedly.com/#subscription%2Ffeed%2Fhttp%3A%2F%2Fcraftingruby.com%2Ffeed.xml'  target='blank'><img id='feedlyFollow' src='https://s3.feedly.com/img/follows/feedly-follow-rectangle-volume-medium_2x.png' alt='follow Crafting Ruby on feedly' width='71' height='28'></a>
  </div>
  <div class="large-6 columns"></div>
</div>

<div class="row">
  <div class="small-12 columns">
    <br/>
    <p>Or share this post:</p>
  </div>
</div>
<div class="row">
  <div class="small-6 large-3 columns">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="fivedigit" data-size="small" data-hashtags="ruby,rubyonrails">Tweet</a>
  </div>
  <div class="small-6 large-3 columns">
    <script type="text/javascript" src="https://www.redditstatic.com/button/button1.js"></script>
  </div>
  <div class="large-6 columns"></div>
</div>
