body {
  background: $color-brown;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: $font;
  color: $color-black;
}

code {
  font-weight: normal;
  color: $color-black;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

header {
  color: $color-white;

  .row {
    background: $color-ruby;
  }

  h1, a {
    color: inherit;

    &:hover { color: inherit; }
  }
}

nav {
  margin: 1em 0;

  ul {
    list-style: none;
    padding: 0 .5em;
    margin: 0;
  }
}

a {
  color: $color-ruby;

  &:hover {
    color: $color-ruby;
    text-decoration: underline;
  }
}

#logo h3 {
  font-size: 2.75rem;
  margin-top: 0;
}

#content {
  background: $color-white;
}

header, nav {
  .title {
    position: relative;
    overflow: hidden;

    background: $color-ruby;
    color: $color-white;

    h1, h2, h3, h4, h5, h6 {
      margin: .5em 0 -.5em .5em;
      color: inherit;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

#tagline {
  margin-top: .5em;
  font-style: italic;
  font-size: 1.2em;
}

.archive {
  span {
    display: inline-block;
    margin: 0 .1em;

    &.year {
      margin-right: .5em;
    }
  }
}
