/**
 * Syntax highlighting styles
 */
$comment-color: #BC9458;
$keyword-color: #CC7833;
$function-color: #FFC66D;
$class-color: #FFFFFF;
$numeric-color: #A5C261;
$variable-color: #D0D0FF;
$other-variable-color: #E6E1DC;
$constant-color: #6D9CBE;
$string-color: #A5C261;

.highlight {
    *      { font-size: .95em; font-family: 'Inconsolata', 'Consolas', 'Liberation Mono', 'Courier', monospace; }
    .c     { color: $comment-color; font-style: italic } // Comment
    .err   { color: #a61717; background-color: #e3d2d2 } // Error
    .k     { color: $keyword-color; } // Keyword
    .o     { color: #FFFFFF; } // Operator
    .p     { color: #FFFFFF; }
    .n     { color: #FFFFFF; }
    .cm    { color: $comment-color; font-style: italic } // Comment.Multiline
    .cp    { color: $comment-color; font-weight: bold } // Comment.Preproc
    .c1    { color: $comment-color; font-style: italic } // Comment.Single
    .cs    { color: $comment-color; font-weight: bold; font-style: italic } // Comment.Special
    .gd    { color: #000; background-color: #fdd } // Generic.Deleted
    .gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
    .ge    { font-style: italic } // Generic.Emph
    .gr    { color: #a00 } // Generic.Error
    .gh    { color: #999 } // Generic.Heading
    .gi    { color: #000; background-color: #dfd } // Generic.Inserted
    .gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
    .go    { color: #888 } // Generic.Output
    .gp    { color: #555 } // Generic.Prompt
    .gs    { font-weight: bold } // Generic.Strong
    .gu    { color: #aaa } // Generic.Subheading
    .gt    { color: #a00 } // Generic.Traceback
    .kc    { color: $keyword-color; } // Keyword.Constant
    .kd    { color: $keyword-color; } // Keyword.Declaration
    .kp    { color: #6E9CBE; } // Keyword.Pseudo
    .kr    { color: $keyword-color; } // Keyword.Reserved
    .kt    { color: $keyword-color; } // Keyword.Type
    .m     { color: $numeric-color } // Literal.Number
    .s     { color: $string-color } // Literal.String
    .na    { color: #008080 } // Name.Attribute
    .nb    { color: $keyword-color } // Name.Builtin
    .nc    { color: $class-color; } // Name.Class
    .no    { color: #FFF; } // Name.Constant
    .ni    { color: #800080 } // Name.Entity
    .ne    { color: #900; font-weight: bold } // Name.Exception
    .nf    { color: $function-color; } // Name.Function
    .nn    { color: #555 } // Name.Namespace
    .nt    { color: #000080 } // Name.Tag
    .nv    { color: $variable-color } // Name.Variable
    .ow    { color: $keyword-color; } // Operator.Word
    .w     { color: #bbb } // Text.Whitespace
    .mf    { color: $numeric-color } // Literal.Number.Float
    .mh    { color: $numeric-color } // Literal.Number.Hex
    .mi    { color: $numeric-color } // Literal.Number.Integer
    .mo    { color: $numeric-color } // Literal.Number.Oct
    .sb    { color: $string-color } // Literal.String.Backtick
    .sc    { color: $string-color } // Literal.String.Char
    .sd    { color: $string-color } // Literal.String.Doc
    .s2    { color: $string-color } // Literal.String.Double
    .se    { color: $string-color } // Literal.String.Escape
    .sh    { color: $string-color } // Literal.String.Heredoc
    .si    { color: $string-color } // Literal.String.Interpol
    .sx    { color: $string-color } // Literal.String.Other
    .sr    { color: #009926 } // Literal.String.Regex
    .s1    { color: $string-color } // Literal.String.Single
    .ss    { color: #6E9CBE } // Literal.String.Symbol
    .bp    { color: #999 } // Name.Builtin.Pseudo
    .vc    { color: $other-variable-color } // Name.Variable.Class
    .vg    { color: $other-variable-color } // Name.Variable.Global
    .vi    { color: $other-variable-color } // Name.Variable.Instance
    .il    { color: $numeric-color } // Literal.Number.Integer.Long
}

.nohighlight {
  color: $white;
}
