$ruby: #b63535;
$white: #fbfbfb;
$brown: #423215;
$black: #555;
$gray: #c0c0c0;

@mixin content-font {
  font-family: 'Fira Sans', 'Times New Roman', Times, serif;
  font-size: 13px;
  color: $black;
}

@mixin code-font {
  font-family: 'Inconsolata', 'Consolas', 'Liberation Mono', 'Courier', monospace;
  font-size: 15px;
}

@mixin logo-font {
  font-family: 'Fredericka the Great', sans-serif;
  font-size: 4em;
  text-transform: uppercase;
}

@mixin header-font {
  font-family: 'Oswald', sans-serif;
  color: $black;
}

@mixin border-radius($args) {
  border-radius: $args;
  -webkit-border-radius: $args;
  -moz-border-radius: $args;
  -ms-border-radius: $args;
  -o-border-radius: $args;
}

@mixin hover-transition {
  @include transition(all .3s ease-out);
}

@mixin transition($args) {
  transition: $args;
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
}

@mixin box-shadow($x, $y, $size) {
  box-shadow: $x $y $size $black;
}
