<!DOCTYPE html>
<html class="no-js" lang="en">

  {% include head.html %}

  <body itemscope itemtype="http://schema.org/Blog">
    <a href="https://plus.google.com/114484924937378509724" rel="publisher"></a>

    {% include header.html %}

    <div class="row" id="content">
      <div class="small-12 large-8 columns">
        {{ content }}
      </div>
      <div class="small-12 large-4 columns">
        {% include navigation.html %}
      </div>
    </div>

    <script src="{{ "/js/highlight.pack.js" | prepend: site.baseurl }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{{ "/js/vendor/modernizr.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/vendor/jquery.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/foundation.min.js" | prepend: site.baseurl }}"></script>
    <script>
      $(document).foundation();
    </script>
    <script type="text/javascript">
      (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://craftingruby.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>

    <script src="{{ "/js/vendor/twitter_ga_tracking.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/feedly_ga_tracking.js" | prepend: site.baseurl }}"></script>
  </body>

</html>
