---
layout: default
---
<article itemscope="" itemtype="http://schema.org/BlogPosting">
  <div class="row">
    <div class="small-12 columns">
      <h1 class="title">
        <a href="{{ post.permalink }}" itemprop="url">
          <span itemprop="name">{{ page.title }}</span>
        </a>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="info">
        <i class="fa fa-calendar"></i>
        Posted on
        <span itemprop="datePublished">{{ page.date | date: "%Y-%m-%d" }}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="text-justify" itemprop="articleBody">
        {{ content }}
      </div>
    </div>
  </div>
  <div class="row prev-next">
    <div class="small-12 medium-6 columns">
      <div class="left">
        {% if page.previous %}
        <a href="{{ page.previous.url }}" rel="prev" title="{{ page.previous.title }}">
          ← {{ page.previous.title }}
        </a>
        {% endif %}
      </div>
    </div>
    <div class="small-12 medium-6 columns">
      <div class="right">
        {% if page.next %}
        <a href="{{ page.next.url }}" rel="next" title="{{ page.next.title }}">
          {{ page.next.title }} →
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</article>
{% include sharing.html %}
<div id="disqus_thread"></div>
<noscript>
  Please enable JavaScript to view the
  <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
<a class="dsq-brlink" href="https://disqus.com">
  comments powered by
  <span class="logo-disqus">Disqus</span>
</a>
</noscript>
